/*theme Setting*/
/*------------------------Font Setup---------------------------*/
/*------------------------Font Setup---------------------------*/
@font-face {
    font-family: 'kalpurushregular';
    src: url('../fonts/kalpurush-webfont.ttf') format('ttf'),
        url('../fonts/kalpurush-webfont.woff2') format('woff2'),
        url('../fonts/kalpurush-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------------------End Font Setup---------------------------*/

/*------------------------Font Setup---------------------------*/
$theme-color:#1CABE2;
$fonts:'kalpurushregular';
$white:#fff;
$black:#000;
$grey-white:#E4E4E4;
$grey-black:#f8f8f8;
/*------------------------Font Setup---------------------------*/

/*------------------------Cross Browsers compatibility Supported Css---------------------------*/

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transition: $property;
    -ms-transform: $property;
    -o-transition: $property;
    transform: $property;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($left, $top, $blur, $color) {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -ms-box-shadow: $left $top $blur $color;
    -o-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
}

@mixin translate($args) {
    transform: translate($args);
    transform: -webkit-translate($args);
    transform: -moz-translate($args);
    transform: -ms-translate($args);
    transform: -o-translate($args);
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

/*------------------------Cross Browsers compatibility Supported Css---------------------------*/
/*------------------------Common css-------------------------------*/
body {
    font-family: $fonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonts;
    margin: 0 0 15px 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

p,
span {
    font-family: $fonts;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    font-family: $fonts;
}

.cus-btn {
    text-decoration: none;
    color: $white;
    background: $theme-color;
    padding: 3px 15px 5px;

    &:hover {
        text-decoration: none;
        background: rgba($theme-color, 0.9);
        color: $white;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: $white;

    &::before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #f2f2f2;
        border-top: 6px solid #0078ff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.back-to-top {
    position: fixed;
    display: none;
    background: $theme-color;
    color: $white;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    z-index: 11;

    i {
        padding-top: 12px;
        color: $white;
    }
}

section {
    padding: 80px 0 90px;
}

.section-header {
    padding-bottom: 25px;
}
.container-fluid {
	max-width: 1800px;
  }
  .container{
	max-width: 1200px;
  }
  ul[role="tablist"]{
	  display: none;
  }
/*------------------------End Common css-------------------------------*/
/*Navbar Menu*/
nav#mainNav {
    background: $theme-color;
    padding: 10px 0;
    @include transition(all 0.3s ease-in-out);

    .navbar-brand {
        color: $white;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    ul {
        li {
            a {
                color: $white;
                font-size: 18px;
                padding: 10px 10px;
            }
        }
    }
}

nav#mainNav.navbar-expand-md.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
    @include transition(all 0.3s ease-in-out);
    padding: 5px 0;

    ul {
        li {
            a {
                color: $white;
                font-size: 18px;
                padding: 10px 10px;
            }
        }
    }
}

/*End Navbar Menu*/

/**/

form#example-form {
    margin-top: 95px;
}
#footer {
    background: $theme-color;
    padding: 60px 0;
    color: $white;

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
        line-height: 1.5;
    }

    ul {
        li {
            list-style-type: none;

            a {
                color: #fff;
                font-size: 15px;
                text-decoration: none;
            }

            &:hover {}
        }
    }

    .social-links {
        a {
            color: $white;
            text-decoration: none;
        }
    }

}