/*theme Setting*/
/*------------------------Font Setup---------------------------*/
/*------------------------Font Setup---------------------------*/
@font-face {
  font-family: 'kalpurushregular';
  src: url("../fonts/kalpurush-webfont.ttf") format("ttf"), url("../fonts/kalpurush-webfont.woff2") format("woff2"), url("../fonts/kalpurush-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------End Font Setup---------------------------*/
/*------------------------Font Setup---------------------------*/
/*------------------------Font Setup---------------------------*/
/*------------------------Cross Browsers compatibility Supported Css---------------------------*/
/*------------------------Cross Browsers compatibility Supported Css---------------------------*/
/*------------------------Common css-------------------------------*/
body {
  font-family: "kalpurushregular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "kalpurushregular";
  margin: 0 0 15px 0;
  padding: 0;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

p,
span {
  font-family: "kalpurushregular";
}

ul {
  padding: 0;
  margin: 0;
}

a {
  font-family: "kalpurushregular";
}

.cus-btn {
  text-decoration: none;
  color: #fff;
  background: #1CABE2;
  padding: 3px 15px 5px;
}

.cus-btn:hover {
  text-decoration: none;
  background: rgba(28, 171, 226, 0.9);
  color: #fff;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader::before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  display: none;
  background: #1CABE2;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

section {
  padding: 80px 0 90px;
}

.section-header {
  padding-bottom: 25px;
}

.container-fluid {
  max-width: 1800px;
}

.container {
  max-width: 1200px;
}

ul[role="tablist"] {
  display: none;
}

/*------------------------End Common css-------------------------------*/
/*Navbar Menu*/
nav#mainNav {
  background: #1CABE2;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav#mainNav .navbar-brand {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

nav#mainNav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 10px 10px;
}

nav#mainNav.navbar-expand-md.navbar-reduce {
  -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
}

nav#mainNav.navbar-expand-md.navbar-reduce ul li a {
  color: #fff;
  font-size: 18px;
  padding: 10px 10px;
}

/*End Navbar Menu*/
/**/
form#example-form {
  margin-top: 95px;
}

#footer {
  background: #1CABE2;
  padding: 60px 0;
  color: #fff;
}

#footer h4 {
  font-size: 20px;
}

#footer p {
  font-size: 15px;
  line-height: 1.5;
}

#footer ul li {
  list-style-type: none;
}

#footer ul li a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

#footer .social-links a {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */